<div class="p2-venue">  
    <img class="p2-venueImage" src="" alt="image"/>
    <h2 class="p2-venueName">{{name}}</h2>
    <h2 class="p2-venueCat">{{catigory}}</h2>
    <button class="p2-addVenueButton">add</button>
</div>
