    <div id="p2-homeContainer">

        <div id="p2-homeContent">
            <h1 id="p2-homeTitle">Title</h1>
            <div id="p2-homeSignInContainer" class="">
                <div id="p2-signIn">
                        <input placeholder="USER NAME" name="userName">
                        <input type="password" placeholder="PASSWORD" name="password">
                        <button id="p2-logIn" type="submit">Log In</button>
                </div>
                <div id="p2-registration">
                        <p id="p2-signUpMess"> </p>
                        <input id="p2-userName" placeholder="USER NAME" name="userName">
                        <input id="p2-password" type="password" placeholder="PASSWORD" name="password">
                        <input id="p2-confirmPassword" type="password" placeholder="CONFIRM PASSWORD" name="confirmPassword">
                        <button id="p2-crateProfile">Create Profile</button>
                </div>
                <div id="p2-registerPrompt">
                    <h2>Register</h2>
                    <p>Dont have a profile yet? Odyssy makes planing your next trip as easy as it can be. No more wasted time, no more headachs, just fun and relaxation.</p>
                    <button id="p2-registerNow" class="btn btn-default">Register</button>
                </div>
            </div>
        </div>
    </div>
