    <div id="p2-homeContainer">
        <div id="p2-homeContent">
            <h1 id="p2-homeTitle">Title</h1>
            <div id="p2-homeSignInContainer" class="">
                <div id="p2-signIn">
                    <form>
                        <input placeholder="USER NAME" name="userName">
                        <input placeholder="PASSWORD" name="password">
                        <button type="submit" class="btn btn-default">Log In</button>
                    </form>
                </div>
                <div id="p2-registration">
                    <form>
                        <input placeholder="USER NAME" name="userName">
                        <input placeholder="PASSWORD" name="password">
                        <input placeholder="CONFIRM PASSWORD" name="confirmPassword">
                        <button class="btn btn-default">Create Profile</button>
                    </form>
                </div>
                <div id="p2-registerPrompt">
                    <h2>Register</h2>
                    <p>Dont have a profile yet? Odyssy makes planing your next trip as easy as it can be. No more wasted time, no more headachs, just fun and relaxation.</p>
                    <button id="p2-registerNow" class="btn btn-default">Register</button>
                </div>
            </div>
        </div>
    </div>
