<div id="p2-head">
    <div id="p2-logo">
        <img src="" alt="logo">
    </div>
    <div id="p2-logIn">
        <button id="p2-logOut">LOG OUT</button>

    </div>
    </div>
    <div id="p2-tripMainContent">
        <div id="p2-tripOptions">
            <div id="p2-catigoryButtons">   
<!--                 <input id="p2-searchCat" name="catigory" placeholder="all cat">
 -->                <input id="p2-searchLocation" name="location" placeholder="location">
                <button>Search</button>
            </div>
            <div id="p2-venues">
            </div>
        </div>

        <div id="p2-tripDays" class="animated">
            <div id="p2-tabButtons">
                <button id="p2-currentDayButton">Current day</button>
                <button id="p2-daysButton">Days</button>
            </div>
            <div id="p2-dataContainer">
                <h1> Day 1</h1>
                <img src="" alt="placeHolder">
                <img src="" alt="placeHolder">
                <img src="" alt="placeHolder">
                <img src="" alt="placeHolder">
                <img src="" alt="placeHolder">      
            </div>
        </div>
    </div>
</div>
