        <div id="p2-tripSetUp">
        <div id="p2-setDays">
             <h1>How many day will you trip be?</h1>
            <select>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
                <option value="6">6 days</option>
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
            </select>
            <button id="p2-next">Next</button>
        </div>
        <div id="p2-setLocation">
            <h1>Where will you be heading?</h1>
            <input id="p2-date" type="date" name="date">
            <button id="p2-pickLocation">Pick locations</button>
        </div>
        <div id="p2-setLocation">
            <h1>Where will you be heading?</h1>
            <input id="p2-location"  name="location">
            <button id="p2-pickLocation">Pick locations</button>
        </div>